gx/
mlruns/
experiments/
.env
mlflow.db
__pycache__/*
mlartifacts/
data/logs/response_logs.csv
data/logs/send_logs.csv

data_old/*
data_pipeline/__pycache__/*.pyc
tests/__pycache__/*.pyc
logs/*
dags/__pycache__/*