great_expectations==1.11.0
joblib==1.5.3
lightgbm==4.6.0
matplotlib==3.10.8
mlflow==3.8.1
mlflow_skinny==3.8.1
mlflow_tracing==3.8.1
numpy==2.4.3
optuna==4.6.0
pandas==3.0.1
pytest==9.0.2
python-dotenv==1.2.2
PyYAML==6.0.2
PyYAML==6.0.3
scikit_learn==1.8.0
seaborn==0.13.2
shap==0.50.0
xgboost==3.2.0
